@font-face {
  font-family: "portal";
  src: url("../../assets/fonts/portal.ttf") format("truetype");
}
@font-face {
  font-family: "quicksand";
  src: url("../../assets/fonts/Quicksand-VariableFont_wght.ttf")
    format("opentype");
}
@font-face {
  font-family: "quicksand-regular";
  src: url("../../assets/fonts/Ruicksand-Regular.ttf")
    format("opentype");
}

.font-portal {
  font-family: "portal", system-ui, sans-serif;
}
.font-quicksand {
  font-family: "quicksand", system-ui, sans-serif;
}
.font-quicksand-r {
  font-family: "quicksand-regular", system-ui, sans-serif;
}

html {
}

body {

}
