---
import Layout from "../layouts/Layout.astro";
import PresentationCard from "../components/presentationCard/presentationCard";
import Skills from "../components/skills/skills";

import "../styles/global.css";

---

<Layout title="Noé Rivera - Portfolio" >
   <main class="flex items-center justify-center">
    <PresentationCard />
  </main>

  <!-- <section>
    <article class="flex justify-center mt-10"></article>
  </section>
  <Skills />
  <section>
    <h2 class="text-center">Enterprises</h2>
  </section>

  <section><h2 class="text-center">Projects</h2></section>

  <footer>
    <section><h2 class="text-center">footer</h2></section>
  </footer> -->
</Layout>
