---
import Layout from "../layouts/Layout.astro";
import Content from "../components/Content.astro";
import PresentationCard from "../components/presentationCard/presentationCard";
import BioTimeLine from "../components/indexPage/bioTimeLine/bioTimeLine";
import CompanyMarquee from "../components/indexPage/marquee/CompanyMarquee.astro";
import NavigationBar from "../components/navigationBar/navigationBar.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Layout title="Noé Rivera - Portfolio" />
  </head>
  <Content>
    <NavigationBar />

    <main class="flex items-center justify-center">
      <PresentationCard client:visible />
    </main>
    <section>
      <article class="flex items-center justify-center">
        <BioTimeLine client:visible />
      </article>
    </section>

    <!--
    <section><h2 class="text-center">Projects</h2></section>
  
    <footer>
      <section><h2 class="text-center">footer</h2></section>
    </footer> -->
  </Content>
  <section class="flex items-center justify-center">
    <CompanyMarquee />
  </section>
</html>
