---
import Content from "../components/Content.astro";
import Layout from "../layouts/Layout.astro";
import NavigationBar from "../components/navigationBar/navigationBar.astro";
import ProjectCard from "../components/projects/projectCard";

interface Frontmatter {
  title: string;
  url: string;
  thumbnail?: string;
  description?: string;
}
const projects = await Astro.glob<Frontmatter>("../content/projects/*.md");
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Layout title="Noé Rivera - Projects" />
  </head>

  <Content>
    <NavigationBar />
    <main class="flex items-center justify-center">
      <section class="max-w-screen-md w-full sm:mx-0 md: p-10 mt-10">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-14">
          {
            projects.map((project) => (
              <ProjectCard
                title={project.frontmatter.title}
                url={project.frontmatter.url}
                thumbnail={project.frontmatter.thumbnail}
              >
                {project.frontmatter.description}
              </ProjectCard>
            ))
          }
        </div>
      </section>
    </main>
  </Content>
</html>
