---
import Content from "../components/Content.astro";
import Layout from "../layouts/Layout.astro";
import NavigationBar from "../components/navigationBar/navigationBar.astro";
import RepoCard from "../components/projects/projectCard";

let repos: any = [];
fetch("https://api.github.com/users/Noe-ali/repos", {})
  .then((response) => response.json())
  .then((data) => {
    // console.log(data);
    repos = data;
  });

  console.log(repos);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Layout title="Noé Rivera - Projects" />
  </head>

  <Content>
    <NavigationBar />
    <main class="flex items-center justify-center">
      <section class="max-w-screen-md w-full sm:mx-0 md:px-20 p-10 mt-10">
        <h2>aa</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
          <!-- {repos.map((repo: any) => <RepoCard repo={repo} client:visible />)} -->
          <div><span>{repos}</span></div>
        </div>
      </section>
    </main>
  </Content>
</html>
