.circle-core {
  border-radius: 50%;
}

.circle-border {
  background: rgb(144, 141, 194);
  background: linear-gradient(
    90deg,
    rgba(144, 141, 194, 1) 0%,
    rgba(0, 78, 231, 1) 100%
  );
  border-radius: 50%;
  overflow: hidden;
}

.bg-gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(242, 243, 247, 1) 21%,
    rgba(209, 229, 246, 1) 80%,
    rgba(218, 229, 248, 1) 100%
  );
}

.profile-card {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 5px 50px 0px rgba(101, 75, 194, 0.62),
    0px 0px 0px 7px rgba(27, 85, 184, 0.615);
}
