@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
    background-color: rgb(32 32 36);
    color: #efeff0;
} */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
}

img {
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

@font-face {
    font-family: "portal";
    src: url("@assets/fonts/portal.ttf") format("truetype");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "quicksand";
    src: url("@assets/fonts/Quicksand-VariableFont_wght.ttf") format("opentype");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "quicksand-regular";
    src: url("@assets/fonts/Quicksand-Regular.ttf") format("opentype");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-portal {
    font-family: "portal", system-ui, sans-serif;
}

.font-quicksand {
    font-family: "quicksand", system-ui, sans-serif;
}

.font-quicksand-r {
    font-family: "quicksand-regular", system-ui, sans-serif;
}

.text-discord {
    color: #7289da;
}

.text-pinked {
    color: #f963c4;
}

.text-cyaned {
    color: #81e6d9;
}

.text-cyaned-500 {
    color: #319795;
}

.bg-cyaned {
    background-color: #81e6d9;
}

.bg-cyaned-500 {
    background-color: #319795;
}