---
import Layout from "@layouts/Layout.astro";
import Body from "../components/Body.astro";
import PresentationCard from "../components/presentationCard/PresentationCard.astro";
import BioTimeLine from "../components/indexPage/bioTimeLine/bioTimeLine";
import CompanyMarquee from "../components/indexPage/marquee/CompanyMarquee.astro";
import NavigationBar from "../components/navigationBar/navigationBar.astro";

import {
  IoLogoLinkedin,
  IoLogoGithub,
  IoLogoTwitter,
  IoMenu,
} from "react-icons/io5";
import Content from "../components/Content.astro";
import Footer from "../layouts/footer.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<Layout title="Noé Rivera - Portfolio">
  <Body>
    <Content>
      <main class="flex items-center justify-center">
        <PresentationCard lang={lang} />
      </main>
      <section>
        <article class="flex items-center justify-center">
          <BioTimeLine lang={lang} client:visible />
        </article>
      </section>

      <section class="flex items-center justify-center">
        <CompanyMarquee />
      </section>
      <section class="flex items-center justify-center">
        <div class="max-w-screen-md w-full sm:mx-0 md:px-20 px-10">
          <h1 class="text-lg font-bold underline underline-offset-2">
            Find me on:
          </h1>
          <ul class="mt-4">
            <li class="my-3">
              <a
                href="https://github.com/noestelar"
                target="_blank"
                rel="noopener noreferrer"
                class="bg-transparent dark:text-cyaned-500 text-cyaned-700 font-portal py-2 px-4 rounded-lg dark:hover:bg-cyaned-900 hover:bg-cyaned-50"
              >
                <span style="font-size: 18px;">
                  <IoLogoGithub className={"inline"} />
                </span>
                <span class="mx-2"> @noestelar</span>
              </a>
            </li>
            <li class="my-3">
              <a
                href="https://www.linkedin.com/in/noealirl/"
                target="_blank"
                rel="noopener noreferrer"
                class="bg-transparent dark:text-cyaned-500 text-cyaned-700 font-portal py-2 px-4 rounded-lg dark:hover:bg-cyaned-900 hover:bg-cyaned-50"
              >
                <span style="font-size: 18px;">
                  <IoLogoLinkedin className={"inline"} />
                </span>
                <span class="mx-2"> Noealirl</span>
              </a>
            </li>
            <li class="my-3">
              <a
                href="https://twitter.com/noestelar"
                target="_blank"
                rel="noopener noreferrer"
                class="bg-transparent dark:text-cyaned-500 text-cyaned-700 font-portal py-2 px-4 rounded-lg dark:hover:bg-cyaned-900 hover:bg-cyaned-50"
              >
                <span style="font-size: 18px;">
                  <IoLogoTwitter className={"inline"} />
                </span>
                <span class="mx-2"> @NoeStelar</span>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <Footer />
    </Content>
  </Body>
</Layout>
