---
import "./CompanyMarquee.css";
import FordLogo from "../../../../public/assets/img/Fordlogo.png";
import SchaefflerLogo from "../../../../public/assets/img/Schaeffler_logo.svg";
import IdtLogo from "../../../../public/assets/img/idt-logo.png";
import AltenLogo from "../../../../public/assets/img/Alten_logo.png";
const logos = [FordLogo, SchaefflerLogo, IdtLogo, AltenLogo];

let logosConcat = logos;

while (logosConcat.length < 10) {
  logosConcat = logosConcat.concat(logos);
}
---

<div class="max-w-screen-md w-full mx-auto sm:mx-0 md:p-20 p-10">
  <h3 class="font-portal text-lg underline underline-offset-4 mb-10">
    Companies that believed in me
  </h3>

  <div class="marquee-container overflow-hidden">
    <div
      class="marquee-content flex flex-nowrap top-0 left-0"
      style={{ animation: "marquee 10s linear infinite" }}
    >
      {
        logosConcat.map((logo, index) => (
        // console.log('printing logo')
          <img
            src={logo}
            alt="Company logo"
            class="h-8 mx-4 w-auto grayscale marquee-img"
          />
        ))
      }
    </div>
  </div>
</div>
