---
import "./CompanyMarquee.css";
import FordLogo from "@assets/img/companies/FordLogo.webp";
import SchaefflerLogo from "@assets/img/companies/Schaeffler_logo.svg";
import IdtLogo from "@assets/img/companies/idt-logo.webp";
import AltenLogo from "@assets/img/companies/Alten_logo.webp";
import StarlightLogo from "@assets/img/companies/starlight-logo.webp";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
const logos = [IdtLogo, SchaefflerLogo, FordLogo, AltenLogo, StarlightLogo];
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);


let logosConcat = logos;

while (logosConcat.length < 10) {
  logosConcat = logosConcat.concat(logos);
}
---

<div class="w-full max-w-screen-md p-10 mx-auto sm:mx-0 md:p-20">
  <h3 class="mb-10 text-lg underline font-portal underline-offset-4">
    {t("marquee.title")}
  </h3>

  <div class="overflow-hidden marquee-container">
    <div
      class="top-0 left-0 flex items-center marquee-content flex-nowrap"
      style={{ animation: "marquee 10s linear infinite" }}
    >
      {
        logosConcat.map((logo, index) => (
          <img
            src={logo.src}
            alt="Company logo"
            class={`h-8 mx-4 object-contain grayscale transition-all ${
              logo === FordLogo || logo === AltenLogo
                ? 'dark:invert hover:grayscale-0 dark:hover:invert-0'
                : 'dark:brightness-[10] hover:grayscale-0 dark:hover:brightness-100'
            }`}
          />
        ))
      }
    </div>
  </div>
</div>
