---
import "./CompanyMarquee.css";
import FordLogo from "@assets/img/FordLogo.webp";
import SchaefflerLogo from "@assets/img/Schaeffler_logo.svg";
import IdtLogo from "@assets/img/idt-logo.webp";
import AltenLogo from "@assets/img/Alten_logo.webp";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
const logos = [IdtLogo, SchaefflerLogo, FordLogo, AltenLogo];
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

let logosConcat = logos;

while (logosConcat.length < 10) {
  logosConcat = logosConcat.concat(logos);
}
---

<div class="w-full max-w-screen-md p-10 mx-auto sm:mx-0 md:p-20">
  <h3 class="mb-10 text-lg underline font-portal underline-offset-4">
    {t("marquee.title")}
  </h3>

  <div class="overflow-hidden marquee-container">
    <div
      class="top-0 left-0 flex marquee-content flex-nowrap"
      style={{ animation: "marquee 10s linear infinite" }}
    >
      {
        logosConcat.map((logo, index) => (
          <img
            src={logo.src}
            alt="Company logo"
            class="w-auto h-8 mx-4 grayscale dark:invert marquee-img"
          />
        ))
      }
    </div>
  </div>
</div>
