---
import "./CompanyMarquee.css";
import FordLogo from "/assets/img/FordLogo.webp";
import SchaefflerLogo from "/assets/img/Schaeffler_logo.svg";
import IdtLogo from "/assets/img/idt-logo.webp";
import AltenLogo from "/assets/img/Alten_logo.webp";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
const logos = [IdtLogo, SchaefflerLogo, FordLogo, AltenLogo];
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

let logosConcat = logos;

while (logosConcat.length < 10) {
  logosConcat = logosConcat.concat(logos);
}
---

<div class="max-w-screen-md w-full mx-auto sm:mx-0 md:p-20 p-10">
  <h3 class="font-portal text-lg underline underline-offset-4 mb-10">
    {t("marquee.title")}
  </h3>

  <div class="marquee-container overflow-hidden">
    <div
      class="marquee-content flex flex-nowrap top-0 left-0"
      style={{ animation: "marquee 10s linear infinite" }}
    >
      {
        logosConcat.map((logo, index) => (
          <img
            src={logo}
            alt="Company logo"
            class="h-8 mx-4 w-auto grayscale dark:invert marquee-img"
          />
        ))
      }
    </div>
  </div>
</div>
