---
import {
  getLangFromUrl,
  getRelativeLocaleUrl,
  useTranslations,
} from "../../i18n/utils";
import {
  IoLogoLinkedin,
  IoLogoGithub,
  IoLogoTwitter,
  IoMenu,
} from "react-icons/io5/index.js";
import React from "react";
import ThemeToggle from "./themeToggleButton";
import NavigationMenu from "./navigationMenu";
import { LanguagePicker } from "./LanguagePicker";
import LogoIcon from "../icons/LogoIcon.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const links = [
  // { name: t("nav.home"), href: getRelativeLocaleUrl(lang, "/") },
  { name: t("nav.works"), href: getRelativeLocaleUrl(lang, "works") },
  // { name: t("nav.uses"), href: getRelativeLocaleUrl(lang, "uses") },
];
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base font-quicksand">
      <a href={getRelativeLocaleUrl(lang, "/")} class="group">
        <h2 class="font-semibold tracking-tighter text-lg font-portal">
          <LogoIcon />
        </h2>
      </a>
      <a href={getRelativeLocaleUrl(lang, "/")} class="font-portal"
        >NOE RIVERA</a
      >
      <div class="hidden sm:flex gap-6 items-center md:flex">
        <ul class="inline-flex items-center">
          {
            links.map((menuItem) => (
              <li class="inline-block cursor-pointer hover:underline mx-3">
                <a href={menuItem.href}>{menuItem.name}</a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="flex-1"></div>
      <LanguagePicker lang={lang} client:visible />
      <ThemeToggle client:visible />
      <div class="sm:hidden">
        <NavigationMenu client:visible links={links} />
      </div>
    </nav>
  </div>
</header>
