---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../../i18n/utils";
import {
  IoLogoLinkedin,
  IoLogoGithub,
  IoLogoTwitter,
  IoMenu,
} from "react-icons/io5/index.js";
import React from "react";
import ThemeToggle from "./themeToggleButton";
import NavigationMenu from "./navigationMenu";
import { LanguagePicker } from "./LanguagePicker";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const links = [
  { name: t("nav.home"), href: translatePath("/") },
  { name: t("nav.works"), href: translatePath("/works/") },
  { name: t("nav.uses"), href: translatePath("/uses/") },
];
---

<header class="">
  <nav
    class="fixed w-full z-10 bg-opacity-35 backdrop-filter backdrop-blur-md font-quicksand p-3"
  >
    <div
      class="flex flex-row items-center md:justify-center font-quicksand justify-between"
    >
      <h1 class="font-portal mr-3">
        <a href={translatePath("/")}>NOÉ RIVERA</a>
      </h1>
      <div class="hidden sm:flex mx-10">
        <ul class="flex flex-row float-right">
          {
            links.map((menuItem) => (
              <li class="inline-block cursor-pointer hover:underline mx-3">
                <a href={menuItem.href}>{menuItem.name}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="flex flex-row ml-1 items-center">
        <LanguagePicker lang={lang} client:visible />
        <ThemeToggle client:visible />
        <div class="sm:hidden">
          <NavigationMenu client:visible links={links} />
        </div>
      </div>
    </div>
  </nav>
</header>
