---
import Layout from "../../layouts/Layout.astro";
import Body from "../../components/Body.astro";
import PresentationCard from "../../components/presentationCard/PresentationCard.astro";
import BioTimeLine from "../../components/indexPage/bioTimeLine/bioTimeLine";
import CompanyMarquee from "../../components/indexPage/marquee/CompanyMarquee.astro";
import NavigationBar from "../../components/navigationBar/navigationBar.astro";

import Content from "../../components/Content.astro";
import SocialLinks from "@components/indexPage/socialLinks/SocialLinks.astro";
import Footer from "../../layouts/footer.astro";
import { getLangFromUrl, useTranslatedPath, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<!DOCTYPE html>
<Layout title="Noé Rivera - Portfolio" />
<Body>

  <Content>
    <main class="flex items-center justify-center">
      <PresentationCard lang={lang} />
    </main>
    <section>
      <article class="flex items-center justify-center">
        <BioTimeLine lang={lang} client:visible />
      </article>
    </section>

    <section class="flex items-center justify-center">
      <CompanyMarquee />
    </section>

    <section class="flex items-center justify-center">
      <SocialLinks />
    </section>
    <Footer />
  </Content>
</Body>
