---
import Body from "@components/Body.astro";
import Content from "@components/Content.astro";
import Layout from "@layouts/Layout.astro";
import Footer from "@layouts/footer.astro";
import WorksContent from "@components/WorksContent.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
  <head>
    <Layout title={`Noé Rivera - ${t('works.title')}`} />
  </head>

  <Body>
    <Content>
      <WorksContent />
      <Footer />
    </Content>
  </Body>
</html>
