---
import Layout from "./Layout.astro";
import Body from "../components/Body.astro";
import NavigationBar from "../components/navigationBar/navigationBar.astro";
import Content from "../components/Content.astro";
import { IoChevronBackOutline } from "react-icons/io5/index.js";
import Footer from "./footer.astro";
export interface Props {
  content: {
    title: string;
    description: string;
    thumbnail?: string;
  };
}
const {
  content: { title, description, thumbnail },
} = Astro.props;
---

<!DOCTYPE html>
<Layout title={"Noé Rivera - " + title}>
  <Body>
    <NavigationBar />
    <main class="pt-[56px]">
      <Content className="pt-6 px-8">
        <span class="">
          <a href="/uses" class="dark:text-cyaned-500 text-blue-500 text-md">
            <IoChevronBackOutline className={"inline"} /> Back
          </a>
        </span>
        <div class="mb-8 mt-2">
          {
            thumbnail && (
              <img
                class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                width={720}
                height={360}
                src={thumbnail}
                alt=""
              />
            )
          }
        </div>
        <h1 class="text-3xl my-1 font-quicksand">{title}</h1>
        <div>{description}</div>
        <hr class="border-top border-zinc-400 my-4" />
        <div class="">
          <slot />
        </div>
        <span
          class="underline underline-offset-2 hover:text-orange-500 decoration-orange-500 text-2xl list-disc"
        ></span>
      </Content>
    </main>
  </Body>
</Layout>
<Footer />
